@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

.bg-custom-gradient {
  background: linear-gradient(90deg, #14bb96, #00abfa, #cf6bd5);
}

.gradmenufooter {
  background: rgb(0 0 0 / 20%);
  box-shadow: 0 0px 20px rgb(0 0 0 / 8%);
  -webkit-backdrop-filter: blur(25px);
  backdrop-filter: blur(25px);
  border-radius: 10px;
  padding: 0.7rem;
}

.opacity-custom {
  background: rgb(0 0 0 / 10%);
  box-shadow: 0 0px 20px rgb(0 0 0 / 8%);
  -webkit-backdrop-filter: blur(25px);
  backdrop-filter: blur(25px);
  border-radius: 10px;
}

.opacity-custom-team-info {
  background: rgb(0 0 0 / 20%);
  box-shadow: 0 0px 20px rgb(0 0 0 / 8%);
  -webkit-backdrop-filter: blur(25px);
  backdrop-filter: blur(25px);
  border-radius: 10px;
}

.team {
  @apply flex justify-center items-center w-full lg:w-1/5 lg:h-[375px] md:h-[260px] m-5 opacity-custom cursor-pointer transition-all ease-in-out duration-200;
}

.team:hover {
  @apply transition-all ease-in-out duration-200 transform scale-105 shadow-2xl;
}

.team img {
  @apply md:w-[200px];
}

/* players sayfası dashboard choose team kutucukları */
.team-name-box {
  @apply border border-white text-white ml-2 px-3 py-1.5 mt-2 uppercase cursor-pointer rounded text-sm;
}

/* takım seçim formu inputları */

.form-control {
  @apply w-full p-3 rounded outline-none focus:ring-[3px] ring-offset-white transition-all duration-300 placeholder:capitalize;
}

/* takım kayıt kısmında kayıt butonu */
.opac-button {
  @apply py-1.5 text-center opacity-custom-team-info hover:bg-transparent transition-colors duration-200 ease-out cursor-pointer px-4 border-2 shadow-lg rounded-lg inline-block mr-5;
}

.btn-dark {
  @apply bg-palette1 px-4 py-3 capitalize font-medium cursor-pointer;
}